

.eventcontainer1
{
  display:flex;
  justify-content: space-evenly;
}

.eventcontainer1-heading{
width: 60%;
font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 4vw;
line-height: 6vw;
color:#E7A908;
margin-left: 4vw;
margin-top: 1em;
}

.eventcontainer1-subcontainer-eventinfo{

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 3vw;
  width: 60vw;
  margin-top: 2vw;
}



.eventcontainer1-button
{ margin-top: 6vw;
  display: flex;
  justify-content: space-between;
  margin-left: 3vw;
}

.eventcontainer1-subcontainer-image
  {
  height:20vw;
  widows: 28vw;
  margin-left:-1vw ;
  }
.eventcontainer1-subcontainer-registernow {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 4vw;
    text-align: center;
    background-color: black;
    color: #E7A908;
    margin-right: 4vw;
    width: 20vw;
    height: 5vw;
    border: #E7A908;
    border-radius: 1vw;
}

.eventcontainer1-subcontainer-button-1 {
    background: none;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 4vw;
    text-align: center;
    width: 12vw;
    height: 5vw;
    color: #E7A908;
    border: 3px solid;
    margin-left: 
  }


.eventcontainer1-subcontainer-button-2 {
    background: none;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 4vw;
    text-align: center;
    height: 5vw;
    color: #E7A908;
    border: 3px solid #E7A908;
    padding: 0 0.7em 0 0.7em;
    margin-left: 2vw;
}

 .speaker-head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: black;
  margin: 1.3em 0em 1em 4.5em;
 }

 .event-register{
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  margin-bottom: 4.5em;
  margin-top: 4.5em;
 }

 .event-register-text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #000000;
 }

 .event-register-button{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #E7A908;
  padding: 1em 4em 1em 4em;
  background-color: black;
  border-radius: 5px;
 }

 .event-register-button:hover{
  cursor: pointer;
 }

    @media only screen and (max-width:950px){
      .speaker-head{
        margin-left: 0em;
        text-align: center;
        font-size: 44px;
        line-height: 55px;
      }

      .event-register{
        margin-bottom: 3.5em;
        margin-top: 3.5em;
        height: 170px;
      }
      .event-register-text{
        font-size: 32px;
        line-height: 40px;
      }
      .event-register-button{
        font-size: 28px;
        line-height: 35px;    
      }
    }

    @media only screen and (max-width:750px){
      .speaker-head{
        font-size: 34px;
        line-height: 45px;
      }
    }

        @media only screen and (max-width:600px)
    {
      .eventcontainer1-subcontainer-eventinfo
      {
        font-size: 3vw;
        margin-top: 2vw;
        line-height: 4vw; 
      }
      .eventcontainer1-subcontainer-image
      {
      height:24vw;
      width:29vw;
      margin-right: 1vw;
      }
      .eventcontainer1-subcontainer-button-1{
        height:6.5vw;
        width:16vw;
      }
      .eventcontainer1-subcontainer-button-2{
        height:6.5vw;
        width:16vw;
      }
      .eventcontainer1-subcontainer-registernow
      {
        height:6.5vw;
        width:24vw;
      }

    } 
@media only screen and (max-width: 414px){
      .eventcontainer1-heading {
    color: black;
    font-size: 28px;
    margin-top: 0em;
    line-height: 29px;
    padding-top: 1em;
}
      .eventcontainer1 {
    margin-top: 3%;
}
    .eventcontainer1-subcontainer-eventinfo 
    {
      line-height: 15px;
    font-size: 12.5px;
    width: 87%;
    margin-left: 21px;
    padding-right: 0;
}
    .eventcontainer1-subcontainer-image {
    width: 30vw;
    margin-right: -2px;
    margin-left: -1vw;
    margin-top: 8%;
  }
  .eventcontainer1-subcontainer-button-1 {
    display: none;
}
.eventcontainer1-subcontainer-button-2 {
    font-weight: bold;
    height: 7.5vw;
    border-radius: 2px;
    width: 25vw;
    font-size: 12px;
    border: 1px solid #E7A908;
}
.eventcontainer1-subcontainer-registernow{
      font-weight: bold;
    height: 7.5vw;
    border-radius: 2px;
    width: 25vw;
    color: #E7A908;
    border: 1px solid #E7A908;
    background: transparent;
    font-size: 11px;
}
      .event-register{
        display: none;
      }
      .speaker-head{
        font-size: 22px;
        line-height: 29px;
        margin: 1.2em 0em 0.2em 0em;
      }
    } 
@media only screen and (max-width: 350px){
.eventcontainer1-heading {
    font-size: 22px;
  }
  .eventcontainer1-subcontainer-eventinfo {
    line-height: 12px;
    font-size: 9.5px;
    width: 87%;
    margin-left: 16px;
    padding-right: 0;
}
.eventcontainer1-subcontainer-button-2 {
    width: 30vw;
    font-size: 10px;
    }
.eventcontainer1-subcontainer-registernow {
    width: 30vw;
    font-size: 10px;
}
.leftarrow {
    height: 7px;
}
.icon7,.icon6{
    font-size: 10px;
}
.icon7 {
    margin-right: 76px;
}
.dat {
    color: #E7A908;
    font-size: 15px;
    margin: 16% 7%;
}
.namm {
    margin-top: 17%;
}
}