.eone{
	margin-top: 96px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    height: 5105px;
    background: #E7A908;
}
.first
{ 
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	height: 4%;
	width: 100%;
}
.event-main-head {margin: 0% 2% 0% 2%;
    width: 20%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 74px;
    color: #FFFFFF;
}
.arrow{
    margin: 0% 0% 0% 0%;
    height: 2px;
    width: 5px;
}
.box{
	height: 70px;
	width: 3%;
}
.imgg {
    margin: 0;
    width: 73%;
    height: 147px;
}
.txt {
     padding: 36px 0px 0px 0px; 
    height: 3%;
    width: 68%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #FFFFFF;
    margin: 5% 0% 0% 6%;
}
.box1{
	display: flex;
	flex-wrap: wrap;
	height: 8%;
	width: 94%;
	margin: 3%;
	background-color: #FFFFFF;
	border-radius: 10px;
}
.side1{
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	width: 54%;
}
.num{
	z-index: 1;
	margin:0%;
	padding: 10% 4%;
    margin: 0%;
    font-size: 200px;
    height: 10%;
    width: 40%;
	color:#F8E5B5;
}
h2{	z-index: 2;
    margin: 0% 0% 0% -33%;
    height: 34%;
    font-family: Montserrat;
    font-style: bold;
    font-size: 64px;
    padding-top: 11%;
    width: 83%;
}
.pd {
    height: 57%;
    width: 19%;
    padding: 6% 6% 3% 14%;
}
.pd1{height: 57%;
    width: 14%;
    padding: 6% 24% 3% 1%;
}
.arrow{
    width: 26%;
    height: 16px;
    margin: 4% 0% 0% 13%;
}
.btnn{
    margin: 0px 0px 0px 5px;
    width: 50%;
    color: white;  
    font-size: 24px;
}

.cult-night{
    display: none;
}
.btn1 {
    display: flex;
    flex-wrap: wrap;
	color: white;
    background-color: #E7A908;
    height: 8%;    
    margin: -4% 6% 0% 6%;
    border-radius: 8px;
    padding: 2% 3%;
    width: 18%;
    width: 28%;
    font-size: 24px;
}
.btn2 {
	color: white;
    background-color: black;
    height: 8%;
    margin: -4% 6% 0% 6%;
    border-radius: 8px;
    padding: 2% 11%;
    width: 16%;
    font-size: 24px;
}
.num2{
	z-index: 1;
	margin:0%;
	padding: 10% 4%;
    margin: 0% 0% 0% -22%;
    font-size: 200px;
    height: 10%;
    width: 23%;
    color: #F8E5B5;
}
.two {
	text-align: end;
    width: 69%;
    margin: -1% 0% 0% 18%;
}
.bb{
	margin: 4% 6% 0% 6%;
}
@media only screen and (max-width: 375px)  {
.pd{display: none;}
.pd1{display: none;}
.imgg{display: none;}
.first{height: 2%;}
.event-main-head{font-size: 100%;
    margin: 0% 2% -3% 2%;
    font-size: 69px;}
.txt{
    padding: 0%;
    line-height: 21px;
    font-size: 22px;
    width: 100%;
    margin:5% 0% 0% 0%;
    text-align: center;
}
.box{height:50px;}
.box1{
    height: 5%;
}
.side1{width:100%;}
.num{font-size: 124px;}
h2 {text-align: end;
    margin: 0% 0% 0% -38%;
    line-height: 37px;
    font-size: 40px;
    padding-top: 16%;
    height: 7%;
    width: 86%;
}
.arrow {
    width: 23%;
    height: 13px;
    margin: 4% 0% 0% 1%;
}
.btnn {
    margin: 0px 0px 0px 2px;
    width: 73%;
    color: white;
    font-size: 19px;
}
.btn1{width: 33%;
    margin: 10% 6% 0% 4%;
    font-size: 17px;}
.btn2{width: 20%;
    font-size: 17px;
    margin: 10% 6% 0% 3%;}
.two {
    letter-spacing: 0px;
    font-size: 40px;
    width: 99%;
    text-align: start;
    margin: 0% 0% 0% 3%;
}
.num2 {
    margin: 0% 0% 0% -46%;
    font-size: 124px;
    width: 1%;
}
}