
.mob-Schedule-Box{
                border:1px solid white;
                height:80%;
                width:80%;
                margin-left: 10%;
                background: #FFFFFF;
                box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.15);
                border-radius: 10px;
                margin-top: 5%;
                margin-bottom: 8%;
                font-family: Montserrat;
            }
 .mobile_schedule_heading{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #E7A908;
            }
.mob-schedule-button{
                text-align: center;
                margin-top: 5%;
                display: flex;
                justify-content: space-evenly;
            }
 .mob-schedule-btn1 ,.mob-schedule-btn2{
            background: transparent;
            border-radius: 6px;
            width: 98px;
            height: 34px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            border:2px solid #E7A908;
            background: #E7A908;
            color:white;
            }
    .btnsch{
        margin-left:  -8%;
    }


    .inactivescheduleclass{
        border: 1px solid #F8E5B5;
        box-sizing: border-box;
        border-radius: 6px;
        background: #FFFFFF;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #F8E5B5;
        width: 98px;
        height: 34px;
    }
  





    @media only screen and (min-width: 900px){

        .mob-Schedule-Box{
            background: #FFFFFF;
             box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
        }
        .mobile_schedule_heading{
            font-size: 45px;
            line-height: 73px;
        }
        .mob-schedule-button{
            text-align: center;
            display: flex;
            justify-content: center;
            
        }
        .btnsch{
            margin-left: 50px;
        }

        .mob-schedule-btn1 , .mob-schedule-btn2{
            background: #E7A908;
            border-radius: 10px;
            width: 200px;
            height: 80px;   
            font-size: 30px;
                line-height: 49px;
                color: #FFFFFF;
        }
           
            
        .inactivescheduleclass{
            border: 5px solid #F8E5B5;
            box-sizing: border-box;
            border-radius: 10px;
            width: 200px;
            height: 80px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 49px;
            background-color: #FFFFFF;
            color: #F8E5B5;  
    
        }
    }
    @media only screen and (min-width: 600px) and (max-width:900px){

        .mob-Schedule-Box{
            background: #FFFFFF;
             box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
        }
        .mobile_schedule_heading{
            font-size: 35px;
            line-height: 50px;
        }
        .mob-schedule-button{
            text-align: center;
            display: flex;
            justify-content: center;
            
        }
        .mob-schedule-btn1 ,.mob-schedule-btn2{
            background: #E7A908;
            border-radius: 10px;
            width: 160px;
            height: 60px;   
            font-size: 20px;
                line-height: 40px;
                color: #FFFFFF;
        }
             
    
    .inactivescheduleclass{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 49px;
        background-color: #FFFFFF;
        color: #F8E5B5;  
        margin-left: 20px;
        width: 160px;
        height: 60px;
    }
    .btnsch{
        margin-left: 30px;
    }
}