.container-2-parent
{
    display:flex;
    justify-content: space-between;
    background-color:#E7A908;
    margin-top:2rem;   
}

.container-2-child-heading
{
    margin-left:3vw;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 4vw; 
    color: #FFFFFF;
    
}
.container-2-child-date
{   
    margin-left:3vw;
    margin-top:5vw;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    line-height: 2vw;
    color: #000000;
}
.container-2-child-button
{
    margin-left:3vw;
    display: flex;
    margin-top: 5vw;
    border-color: #FFFFFF;
}
.container-2-child-button-1
{  
    height: 5vw;
    width: 12vw;
    background-color: Transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    border-color:#FFFFFF;
    border-radius:5%;
    font-size: 2vw;
    border-width: .2vw;
}
.container-2-child-button-2
{   height: 5vw;
    width: 12vw;
    margin-left: 2vw;
    background-color: Transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    border-radius:5%;
    border-color:white;
    font-size: 2vw;

}
.container-2-child-2{
    margin-right:3rem;
}
.container-2-child-presentedby
{   margin-top: 1vw; 
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;   
}
.container-2-child-logos{
    margin-left: -2vw; 
}


.container-2-child-logo-1
{
    margin-top: 1vw;
    width: 10vw;
    height: 10vw;
}

.container-2-child-logo-2
{
    margin-top: 1vw;
    width: 10vw;
    height: 10vw;
    margin-left: 1.5vw;
}


.registernow
{
    margin-top: 1.5vw; 
    width: 18vw;
    height: 5vw;   
    color:white;
    background: #000000;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
    border-color:black  ;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
}
@media only screen and (max-width:600px)
{
    .registernow
    {
        font-size:  3vw;
        width: 24vw;
        height: 8vw;  
        font-weight: 0;

    }
    .container-2-child-presentedby
    {
        font-size: 4vw;
    }
    .container-2-child-heading
    {
        font-size: 5vw;
    }
    .container-2-child-date
    {
        font-size: 4vw;
    }
    .container-2-child-button-1
    {
        font-size: 3vw;
        height: 7vw;
        width: 16vw;
    }
    .container-2-child-button-2
    {
        font-size: 3vw;
        height: 7vw;
    width: 16vw;
    }
    .container-2-child-logo-1
   {
    width: 14vw;
    height: 14vw;
   }   
    .container-2-child-logo-2
    {
        margin-left: 1vw;
        width: 14vw;
        height: 14vw;
    }
    .container-2-child-2{
        margin-right:4vw;
    }
    
}
@media only screen and (max-width:414px)
{
    .container-2-parent
{
    background-color:#FFFFFF; 
}

.container-2-child-heading
{ 
    color: #E7A908;
}
.container-2-child-button-1 {
    font-size: 12px;
    height: 8vw;
    margin-left:18%;
    width: 36vw;
    border-radius: 4px;
    font-weight: bold;
    background: black;
}
.container-2-child-button-2 {
    margin-left: 40%;
    color: #E7A908;
    border: 2px solid #E7A908;
    font-size: 3vw;
    height: 8vw;
    width: 36vw;
    border-radius: 4px;
}
.triangle-topleft-0 {
    border-top: 10vw solid #FFFFFF;
}
}