.line
{
  border: 1px solid red;
}


.boxforheading {
    width: 2vw;
    height: 5vw;
    border: 1px solid black;
    background-color: black;
}
.containerhead{
    display: flex;
    align-items: baseline;
    overflow: hidden;
    padding-top: 1.2vw;
}

.heading
{
font-family: Montserrat;
font-style: normal; 
font-weight: 800;
margin-left: 2vw;
font-size: 7vw;
width:20vw;
box-sizing: default;
}

.imgthomso {
    margin-left: 10vw;
    width: 66.5vw;
}
.imgthomso1 {
    height: 10vw;
    width: 65vw;
    vertical-align: bottom;
}
@media only screen and (max-width:600px)
{
  .boxforheading{
  width:10vw;}
}
@media only screen and (max-width: 414px)  {
.containerhead{
	padding-top: 6.2vw;
}
.boxforheading{
  width:1vw;}
.imgthomso1{
  width:63vw;
  margin-left: 20px;
}
}
