.main-data
{   margin-top: ;
    width: 100%;
    background-color:  #E7A908;
}
.straightline-0
{
      z-index:1;
      border:.4vw solid black;
      margin-bottom:3.5vw;
      transform: rotate(-6deg);
      background-color: black;
  }
.triangle-topleft-0
 {
        width: 0;
        height: 0;
        border-top: 10vw solid #E7A908;
        border-right: 99vw solid transparent;
 }
 .triangle-bottomright-0 
{
        width: 0;
        height: 0;
        border-bottom: 10vw solid white;
        border-left: 99vw solid transparent;
        margin-top: -10vw;
}

.triangle-topleft-1 
{
        width: 0;
        height: 0;
        border-top: 10vw solid white;
        border-right: 99vw solid transparent;
 }

.triangle-bottomright-1
{
        width: 0;
        height: 0;
        border-bottom: 10vw solid#E7A908;
        border-left: 99vw solid transparent;
        margin-top: -10vw;
}
.straightlineblack-1
{   
    z-index:1;
    border:.4vw solid #E7A908;
    margin-top: 3vw;
    margin-bottom:-4vw;
    transform: rotate(-6deg);
    background-color: #E7A908;
}
.straightlineblack-2{
  z-index:1;
  border:.4vw solid black;
  margin-top:1vw;
  transform: rotate(-6deg);
  background-color:black;

}
.straightlinewhite-2
{
  z-index:1;
  border:.4vw solid white;
  margin-bottom:-5vw;
  transform: rotate(-6deg);
  background-color:white;
}
     
.triangle-topleft-2
 {  
        width: 0;
        height: 0;
        border-top: 10vw solid #E7A908;
        border-right: 99vw solid transparent;
      }

.triangle-bottomright-2{
        width: 0;
        height: 0;
        border-bottom: 10vw solid black;
        border-left: 99vw solid transparent;
        margin-top: -10vw;
}
@media only screen and (max-width:600px)
{
  .triangle-bottomright-0 {
    border-left: 100vw solid transparent;
  }
  .triangle-bottomright-2
  {
    border-left: 100vw solid transparent;
  }
  .main-data
{ 
    width: 100%;
}
}
@media only screen and (max-width:414px)
{.main-data{
    background-color:  #FFFFFF;}
    .straightline-0
{
      border:.4vw solid white;
      background-color: white;
  }
.triangle-bottomright-0 {
    border-bottom: 10vw solid #E7A908;
}
.straightlineblack-1 {
    border: .4vw solid black;
    background-color: black;
}
.triangle-topleft-1 {
    border-top: 10vw solid #E7A908;
}
.triangle-bottomright-1 {
    border-bottom: 10vw solid#FFFFFF;
    border-left: 100vw solid transparent;
}
.triangle-topleft-2 {
    border-top: 10vw solid #FFFFFF;
}
}
@media only screen and (min-width:414px)and (max-width:1000px){
  .triangle-bottomright-0 {
  
    border-right: 100vw solid transparent;
}
.triangle-bottomright-2 {

  border-right: 100vw solid transparent;
}
}