.headspeaker{
    width: 100%;
    color: black;
    font-size: 64px;
    margin-top: 60px;
    font-family: Montserrat;
font-style: normal;
}

.contbox {
    flex-direction: column;
    display: flex;
    width: 21%;
    height: 370px;
    background-color: #E7A908;
    border-radius: 5px;
    align-items: center;
}
.mainspeaker{
	display: flex;
	flex-direction: column;
}
.circleimg {
    margin-top: 8%;
    width: 39%;
    height: 40%;
    background-color: #FFFFFF;
    border-radius: 113px;
}
.namee{
    margin-top: 43px;
    font-size: 24px;
    color: #FFFFFF;
}
.para{
    margin: 4%;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
}

.speaker-item{
    display: flex;
    justify-content: space-around;
    margin: 0 2.5em 0 2.5em;
    margin-top: 5em;
    margin-bottom: 4em;
}

@media only screen and (max-width: 1500px)
{
    .contbox {
    width: 22%;
    height: 360px;
}
}
@media only screen and (max-width: 1300px)
{
.contbox {
    width: 23%;
    height: 350px;
}
.circleimg {
    width: 43%;
    height: 37%;
}
.speaker-item{
    margin-top: 3em;
    margin-bottom: 2em;
}
}
@media only screen and (max-width: 1100px)
{
.contbox {
    width: 23%;
    height: 306px;
}
.para {
    margin: 10px;
    color: #FFFFFF;
}
.mainn {
    height: 340px;
}
.headspeaker {
    margin-top: 1px;
    font-size:50px;
}
.namee{
    font-size: 20px;
}
}
@media only screen and (max-width: 900px)
{
    .contbox {
    width: 27%;
    height: 306px;
}
.speaker-item{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
.headspeaker {
    margin-top: 0px;
    font-size: 41px;
}
.para {
    font-size: 12px;
}
.namee {
    font-size: 19px;
}
}
@media only screen and (max-width: 750px)
{
.contbox {
    width: 29%;
    height: 237px;
}
.namee {
    margin-top: 12%;
    font-size: 18px;
}
.circleimg {
    width: 47%;
    height: 37%;
}
.headspeaker {
    line-height: 47px;
    margin-top: 20px;
    font-size: 41px;
}
}
@media only screen and (max-width: 600px)
{
.headspeaker {
    line-height: 3px;
    margin-top: 46px;
    font-size: 30px;
}
.contbox {
    width: 29%;
    height: 210px;
}
.para {
    margin: 4%;
    font-size: 10px;
}
.namee {
    margin-top: 12%;
    font-size: 16px;
}
}
@media only screen and (max-width: 500px)
{
.headspeaker {
    line-height: 0px;
    margin-top: 37px;
    font-size: 28px;
}
.contbox {
    width: 29%;
    height: 161px;
}
.namee {
    margin-top: 12%;
    font-size: 12px;
}
.para {
    margin: 4%;
    font-size: 8px;
}
}
@media only screen and (max-width: 414px)
{
.headspeaker {
    line-height: 0px;
    margin-top: 29px;
    font-size: 20px;
}

.para {
    margin: 4%;
    font-size: 6px;
}
.namee {
    margin-top: 12%;
    font-size: 10px;
}
.contbox {
    width: 29%;
    height: 138px;
}

}
@media only screen and (max-width: 375px)
{

.headspeaker {
    line-height: 0px;
    margin-top: 19px;
    font-size: 18px;
}

.contbox {
    width: 29%;
    height: 121px;
}
}