.container3{
    background-color: white;
}

.container-3-child-heading
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    float:right;
    color: #E7A908;
    margin-right: 3vw;

}
.container-3-parent
{
    display:inline-flex;
}
.container-3-child
{
    height:25vw;
    width:25vw;  
    margin-left: 2vw;
    margin-top: 2vw;
}
.container-3-child-1
{
    flex:1;
}
.container-3-child-2
{
    flex:3;
}
.container-3-child-body
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 2.2vw;
    text-align: right;
    color: #000000;
    line-height: 5vw;
}
@media only screen and (max-width:600px)
{
    .container-3-child-heading{
        font-size: 5vw;
    }
    .container-3-child-body
    {
        font-size:3vw;
        line-height: 5vw;  
        font-weight: 300;
    }
    .container-3-child
    {
    height:35vw;
    width:35vw;
    }
}   
@media only screen and (max-width:414px){
.container3{
    margin-top: -1px;
    background-color: #E7A908;
}
.container-3-child-heading {
    font-weight: bold;
    color: black;
}
.container-3-child-1 {
    display: none;
}
.container-3-child-2 {
    margin: 0% 2% 4% 18%;
}
.container-3-child-body {
    color: #FFFFFF;
}
}
