
.mobile_nav_before{
    display:flex;
    justify-content: space-between;
    color:white;
    border:1px solid black;
    background-color: black;
    height:52px;
    align-items:baseline;
}
.mobile_nav_after{
    display:none;
}
.mobile-raionzo-logo{
    height:40px;
    width:40px;
    margin-right: 5px;
    margin-left: 5px;
}
.mobile_index_left{
    display:flex;
    align-items:center;
}

.raionzo-mobile-header{
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    color: #E7A908;
}
.Hamburger_icon{
    font-size: 30px;
    margin-right: 0.5em;
    color: #E7A908;
}


.mobile_navbar_data_after{
    backdrop-filter: opacity(0);
    background-color: #E7A908;
    margin-left: 15%;
    height:100vh;
    padding-left:15%;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius:10px;
    color: #FFFFFF;
    z-index: 100;
    position: fixed;
    margin-right: 0%;
    margin-top: 0px;
    width:70%;
    opacity: 1;
    animation-name: move;
     animation-duration: 1s;     
}
@keyframes move{
    0% {
        margin-left: 40%;
      }
      100% {
        margin-left: 15%;
      }
    }
.mobile_navbar_data_before{
    opacity: 0;
    display:none;


}
.mobileNavbar{

    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    padding-top: 40%;

}
.mobileNavbarCloseButton{
    float:right;
    font-size:30px;
    color:black;
    margin-top: 0.5em;
    margin-right: 0.5em;
}
.mobileNavbar-event{
    padding-top: 8%;
    color: #FFFFFF;
    text-decoration: none;
}
.mobileNavbar-home{
    color:white;
    text-decoration: none;
}
.mobileNavbar-schedule{
    padding-top: 8%;
    color: #FFFFFF; 
    text-decoration: none;
}
.mobileNavbar-contactus{
    padding-top: 8%; 
    color: #FFFFFF; 
    text-decoration: none;
}
.mobilebarCross{
    font-size: 40px;
}
.mobile_register{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px; 
    padding: 0.3em 1em 0.3em 1em;
    font-size: 22px;
    background-color: transparent;
    color:white;
    font-weight: 600;
}
.mobileNavbarFooter{
        display:flex;
        margin-top: 50%;
        justify-content: space-evenly;
}

.mobile_logo{
    display: flex;
    justify-items: space-between;
    margin-left:-40px;
   
}
.mobile_logo_linkedin{
    font-size: 40px;
    margin-left: 10px;
    color:white;
}
.mobile_logo_facebook{
    font-size: 40px;
    margin-left: 10px;
    color:white;
}
 .mobile_active{
    background-color: blue;
}


@media only screen and (max-width: 414px){
    .mobileNavbar{
        font-size: 22px;
    }
}