

.eventcontainer1
{
  display:flex;
  justify-content: space-evenly;
}



.eventcontainer1-heading{
font-style: normal;
font-weight: bold;
font-size: 4.5vw;
line-height: 6vw;
color:#E7A908;
margin-left: 4vw;
}

.eventcontainer1-subcontainer-eventinfo{
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 1.5vw;
line-height: 3vw;
margin-left: ;
width: 40vw;
margin-top: 2vw;
}



.eventcontainer1-button
{ margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  margin-left: 4vw;
}

.eventcontainer1-subcontainer-image
  {
  height:20vw;
  widows: 28vw;
  margin-left:20vw ;
  }
.eventcontainer1-subcontainer-registernow
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 4vw;
    text-align: center;
    background-color: #E7A908;
    color: #FFFFFF;
    margin-right: 4vw;
    width: 20vw;
    height: 5vw;
    border: #E7A908;
    border-radius: 1vw;
}

.eventcontainer1-subcontainer-button-1{
    background: #000000;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 4vw;
    text-align: center;
    width: 12vw;
    height: 5vw;
    color: #E7A908;
    border: #000000;
    }


.eventcontainer1-subcontainer-button-2{
    background: #000000;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 4vw;
    text-align: center;
    width: 12vw;
    height: 5vw;
    color: #E7A908;
    border: #000000;
    margin-left:2vw;
 }

 .speaker-head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: black;
  margin: 1.3em 0em 1em 4.5em;
 }

 .event-register{
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  margin-bottom: 4.5em;
  margin-top: 4.5em;
 }

 .event-register-text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #000000;
 }

 .event-register-button{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #FFFFFF;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #E7A908;
  border-radius: 42px;
 }

 .event-register-button:hover{
  cursor: pointer;
 }

    @media only screen and (max-width:950px){
      .speaker-head{
        margin-left: 0em;
        text-align: center;
        font-size: 44px;
        line-height: 55px;
      }

      .event-register{
        margin-bottom: 3.5em;
        margin-top: 3.5em;
        height: 170px;
      }
      .event-register-text{
        font-size: 32px;
        line-height: 40px;
      }
      .event-register-button{
        font-size: 28px;
        line-height: 35px;    
      }
    }

    @media only screen and (max-width:750px){
      .speaker-head{
        font-size: 34px;
        line-height: 45px;
      }
    }

        @media only screen and (max-width:600px)
    {
      .eventcontainer1-subcontainer-eventinfo
      {
        font-size: 3vw;
        margin-top: 2vw;
        line-height: 4vw; 
      }
      .eventcontainer1-subcontainer-image
      {
      height:24vw;
      width:24vw;
      margin-right: 1vw;
      }
      .eventcontainer1-subcontainer-button-1{
        height:6.5vw;
        width:16vw;
      }
      .eventcontainer1-subcontainer-button-2{
        height:6.5vw;
        width:16vw;
      }
      .eventcontainer1-subcontainer-registernow
      {
        height:6.5vw;
        width:24vw;
      }
      .event-register{
        display: none;
      }
      .speaker-head{
        font-size: 22px;
        line-height: 29px;
        margin: 1.2em 0em 0.2em 0em;
      }
    } 