.footer{
	padding: 6em 7em 0em 7em;
	background-color: black;
	color: white;
	display: grid;
	grid-template-columns: 24% 19% 22% 13% 22%;
	grid-template-areas: 
		"Raionzo . Links . Events"
		"Contact . Help . Follow";
}

.grid-item{
	margin-bottom: 4em;
}

.footer-raionzo-head{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 49px;
	color: #E7A908;
}

.footer-cont-all{
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
}

.footer-raionzo-cont{
	margin-top: 1.5em;
}

.footer-list{
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	justify-content: space-between;
}

.footer-list-links{
	height: 180px;
}

.events-in-links{
	display: none;
}

.footer-list-events{
	height: 220px;
}

.footer-list-help{
	height: 70px;
}

.footer-subhead{
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;
	text-align: center;
	color: #E7A908;
}

.footer-child-1{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.contact-img{
	height: 32px;
	width: auto;
	margin-right: 2em;
}

.footer-contact-data{
	padding: 1em 0 1em 0;
	vertical-align: middle;
}

.footer-links, .footer-events{
	padding-top: 0.3em;
}

.footer-raionzo{
	grid-area: Raionzo;
}

.footer-links{
	grid-area: Links;
}

.footer-contact{
	grid-area: Contact;
}

.footer-help{
	padding-top: 0.3em;
	grid-area: Help;
}

.footer-events{
	grid-area: Events;
}

.footer-follow{
	padding-top: 0.4em;
	grid-area: Follow;
}

.footer-follow-cont{
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	color: #FFFFFF;
}

.follow-links{
	margin-top: 1.2em;
}

.follow-img{
	margin-right: 1em;
}

@media only screen and (max-width: 1240px){
	.footer{
		grid-template-columns: 40% 20% 40%;
		grid-template-areas: 
			"Raionzo . Links"
			"Events . Contact"
			"Help . Follow";
	}

	.grid-item{
		margin-bottom: 3em;
	}
}

@media only screen and (max-width: 1010px){
	.footer{
		grid-template-columns: 45% 10% 45%;
		padding: 6em 5em 0em 5em;
	}
}

@media only screen and (max-width: 800px){
	.footer{
		padding: 5em 3em 0em 3em;
		grid-template-areas: 
			"Raionzo Raionzo Raionzo"
			"Links Links Links"
			"Contact Contact Contact"
			"Help . Follow"
	}

	.footer-list{
		margin-top: 1.5em;
	}

	.footer-events{
		display: none;
	}

	.events-in-links{
		display: block;
	}

	.item-a{
		grid-area: Itema;
	}

	.item-b{
		grid-area: Itemb;
	}

	.item-c{
		grid-area: Itemc;
	}

	.item-d{
		grid-area: Itemd;
	}

	.item-e{
		grid-area: Iteme;
	}

	.item-f{
		grid-area: Itemf;
	}

	.footer-list-links{
		height: 150px;
		display: grid;
		width: 200%;
		grid-template-columns: 40% 20% 40%;
		grid-auto-flow: column;
		grid-template-areas: 
			"Itema . Itemb"
			"Itemc . Itemd"
			"Iteme . Itemf";
	}

	.footer-raionzo-cont{
		margin-top: 1.2em;
	}

	.grid-item{
		margin-bottom: 2em;
	}

	.footer-list-links{
		height: 140px;
	}
	
	.footer-list-help{
		height: 50px;
	}
}

@media only screen and (max-width: 600px){

	.footer{
		padding: 4em 2em 0em 2em;
	}

	.contact-img, .follow-img{
		height: 27px;
	}

	.footer-cont-all{
		font-size: 15px;
		line-height: 19px;
	}
	.footer-raionzo-head{
		font-size: 30px;
		line-height: 36px;
	}
	.footer-subhead{
		font-size: 24px;
		line-height: 26px;
	}
	.footer-list-links{
		height: 115px;
	}
	.grid-item{
		margin-bottom: 1.5em;
	}
	.footer-list{
		margin-top: 1.2em;
	}

	.footer-raionzo-cont{
		margin-top: 1em;
	}
}