.nav-bar{
	width: 100%;
	height: 96px;
	left: 0px;
	top: 0px;
	background: #000000;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.head{
	width: 146px;
	height: 38px;
	left: 129px;
	top: 30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: #FFC700;
	padding-right: 1em;
	display: flex;
}

.raionzo-logo{
	padding: 0 0.7em 0 1em;
	display: flex;
	margin-left: 1em;
}

.nav-links{
	display: flex;
	margin-left: auto;
	padding: 0 1em 0 1em;
}

.nav-link{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	padding: 0.5em;
	margin: 0 0.5em 0 0.5em;
}

.reg-link{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	padding: 0.6em 1.1em 0.6em 1.1em;
	background-color: white;
	color: #000000;
	border-radius: 170px;
	border: 1px solid white;
	margin-right: 1.2em;
}