.container-2-parent
{
    display:flex;
    justify-content: space-between;
    background-color:#E7A908;
    margin-top:2rem;   
    margin-left: 15px;
}

.container-2-child-heading
{
    margin-left:3vw;
    margin-top: 0.6em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 4em; 
    color: #FFFFFF;
    
}
.container-2-child-date
{   
    margin-left:3vw;
    margin-top:5vw;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 2vw;
    color: #000000;
}
.container-2-child-button
{
    margin-left:3vw;
    display: flex;
    margin-top: 5vw;

}
.container-2-child-button-1
{  
    height: 5vw;
    width: 12vw;
    background-color: #E7A908;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    border:2px solid white;
    font-size: 2vw;
    box-sizing: border-box;
    border-radius: 10px;    
}
.container-2-child-button-2
{   height: 5vw;
    width: 12vw;
    margin-left: 2vw;
    background-color: Transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    border-radius:5%;
    border-color:white;
    font-size: 2vw;
    border:2px solid white;
    box-sizing: border-box;
    border-radius: 10px;
}
.container-2-child-2{
    margin-right:3rem;
    margin-top: -2.6vw;
}
.container-2-child-presentedby
{   margin-top: 2.5vw; 
    font-family: Montserrat;
    font-style: normal;
    font-weight:bold;
    font-size: 2vw;
    margin-left: 0.8em;   
}
.container-2-child-logos{
    margin-left:-4vw; 
}


.container-2-child-logo-1
{

    height: 21em;
    width: auto;
}

.container-2-child-logo-2
{

    width: 19em;
    height: auto;
    margin-right: 1em;

}


.registernow
{
    margin-top: 1.5vw; 
    margin-right: 0.9em;
    width: 20vw;
    height: 5vw;   
    color:white;
    background: #000000;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-color:black  ;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
}
@media only screen and (max-width:1250px){
    .container-2-child-heading
    {
        font-size: 3em;
    }
    .container-2-child-date{
        font-size: 2.2em;
    }
}
@media only screen and (max-width:1000px){
    .container-2-child-heading
    {
        font-size: 2.5em;
    }
    .container-2-child-date{
        font-size: 1.8em;
    }
}
@media only screen and (max-width:600px)
{

    .container-2-parent{
        margin-left: 0px;
        margin-top: 10px;
    }

    .registernow
    {
        font-size:3vw;
        width: 24vw;
        height: 8vw;  
        font-weight: 0;
        margin-top: 10px;

    }
    .container-2-child-presentedby
    {
        font-size: 4vw;
    }
    .container-2-child-heading
    {
        font-size: 1.6em;
    }
    .container-2-child-date
    {
        font-size: 1.1em;
    }
    .container-2-child-button-1
    {
        font-size: 3vw;
        height: 7vw;
        width: 16vw;
    }
    .container-2-child-button-2
    {
        font-size: 3vw;
        height: 7vw;
        width: 16vw;
    }
    .container-2-child-button{
            margin-top: 40px;
    }
    .container-2-child-logo-1
   {
    height: 20em;
    width: auto;
   }   
    .container-2-child-logo-2
    {
        margin-left: 1vw;
        height: 20em;
        width: auto;
    }
    .container-2-child-2{
        margin-right:4vw;
    }
    
}
@media only screen and (max-width:414px)
{
    .container-2-parent
{
    background-color:#FFFFFF; 
}
.container-2-child-heading
    {
        font-size: 1.4em;
    }
    .container-2-child-date
    {
        font-size: 0.9em;
    }

.container-2-child-heading
{ 
    color: #E7A908;
}
.container-2-child-button-1 {
    font-size: 12px;
    height: 8vw;
    margin-left:18%;
    width: 36vw;
    border-radius: 4px;
    font-weight: bold;
    background: black;
}
.container-2-child-button-2 {
    margin-left: 40%;
    color: #E7A908;
    border: 2px solid #E7A908;
    font-size: 3vw;
    height: 8vw;
    width: 36vw;
    border-radius: 4px;
}
.triangle-topleft-0 {
    border-top: 10vw solid #FFFFFF;
}
}