.eone{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 3150px;
    background: #E7A908;
}
.first
{ 
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    height: 6%;
    width: 100%;
}
h1 {margin: 0% 2% 0% 2%;
    width: 20%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    line-height: 74px;
    color: #FFFFFF;
}
.arrow{
    margin: 0% 0% 0% 0%;
    height: 2px;
    width: 5px;
}
.box{
    height: 70px;
    width: 3%;
}
.imgg {
    margin: 0;
    width: 73%;
    height: 147px;
}
.txt {
     padding: 36px 0px 0px 0px;
    height: 3%;
    width: 70%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 46px;
    color: #FFFFFF;
    margin: 1% 0% 1% 6%;
}
.box1{
    display: flex;
    flex-wrap: wrap;
    height: 12%;
    width: 92%;
    margin: 3% 4% 2% 4%;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.side1{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 54%;
}
.num{
    z-index: 1;
    margin: 4%;
    padding: 8% 3%;
    font-size: 176px;
    height: 10%;
    width: 40%;
    color: #F8E5B5;
}
h2{ z-index: 2;
    margin: 0% 0% 0% -38%;
    height: 34%;
    font-family: Montserrat;
    font-style: bold;
    font-size: 44px;
    padding-top: 15%;
    width: 83%;
}
.pd {
    height: 57%;
    width: 20%;
    padding: 7% 6% 7% 14%;
}
.pd1 {
    height: 57%;
    width: 16%;
    padding: 7% 21% 7% 9%;
}
.arrow {
    width: 20%;
    height: 15px;
    margin: 4% 0% 0% 26%;
}
.btnn {
    margin: 0px 0px 0px 5px;
    width: 50%;
    color: white;
    font-size: 24px;
}
.btn1 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: #E7A908;
    height: 6%;
    margin: -4% 6% 0% 6%;
    border-radius: 8px;
    padding: 2% 3%;
    width: 21%;
    font-size: 20px;
}
.btn2 {
        line-height: 27px;
    color: white;
    background-color: black;
    height: 6%;
    margin: -4% 6% 0% 6%;
    border-radius: 8px;
    padding: 2% 7%;
    width: 14%;
    font-size: 22px;
}
.num2 {
    z-index: 1;
    margin: 0%;
    padding: 10% 4%;
    margin: 0% 0% 0% -20%;
    font-size: 176px;
    height: 10%;
    width: 23%;
    color: #F8E5B5;
}
.two {
    text-align: end;
    width: 82%;
    margin: -1% 0% 0% 6%;
}
.bb1{
    margin: -6% 6% 0% 25%;
}
.bb2{
    margin: -6% 6% 0% 6%;
}


@media only screen and (max-width: 1305px)  {
.box {
    height: 53px;
}
.first{
    height: 4%;
}
h1{
    line-height: 57px;
    font-size:77px;
}
.two{
    width:84%;
    margin: -1% 0% 0% -6%;
}
.txt{
    height: 5%;
    font-size:30px;
}
.imgg{
    height: 108px;
}
.eone{
    height: 3000px;
}
.btnn{
    font-size: 21px;
}
.btn2{
     font-size: 21px;
     line-height: 22px;
}

}

@media only screen and (max-width: 1000px)
{
    h1{
        font-size: 60px;
    }
    .txt {
    font-size: 26px;
    line-height: 43px;
}
    h2{
        font-size: 40px;margin-top: 5%;

    }
    .num,.num2{
     margin-top: 8%;
     font-size: 150px;
    }
    .pd{
     width: 30%;
    padding: 6% 6% 3% 5%;
    }
    .btnn{
        font-size: 19px;
    }
    .bb1{
    margin: -6% 6% 0% 14%;
}
    .arrow{
            width: 21%;
    height: 12px;
    margin: 4% 0% 0% 22%;
    }
    .btn1{
        width: 26%;
        padding: 2% 2%;
    }
    .btn2{
        width: 18%;
        font-size: 19px;
    }
    .pd1 {
    width: 26%;
    padding: 6% 15% 3% 4%;
}   .two {
    width: 91%;
    margin: -1% 0% 0% -21%;
}.eone{height: 2700px;}
.first {
    height: 5%;
}
.box1{    margin: 4% 4% 2% 4%;}
}
@media only screen and (max-width: 800px){
h1{
    font-size: 52px;
    margin:0% 4% 0% 1%;
}
.box1{    margin: 5% 4% 2% 4%;}
.txt {
    font-size: 24px;
    line-height: 35px;
}
.num,.num2{
    font-size: 140px;
}
.btn1{width:30%;}

h2{
    font-size: 35px;
    margin-top: 6%;
}
.btnn{font-size: 17px;}
.btn2 {
    padding: 2% 8%;
    width: 19%;
    font-size: 17px;
    line-height: 20px;
}
.arrow {
    width: 20%;
    height: 12px;
    margin: 3% 0% 0% 18%;
}   
.eone{height: 2300px;
}
}
@media only screen and (max-width: 625px){
.imgg{
        width: 67%;
    }
.first{
    height: 6%;
}
h1{
        font-size: 45px;
        width: 25%;
    }
.txt{   width: 80%;
        height: 6%;
        font-size: 22px;
        padding-top: 22px;
        line-height: 29px;
    }
.eone{
        height: 1900px;
    }
.btn1,.btn2{margin-top: 2%;}
h2 {
    font-size: 30px;
    padding-top: 57px;
}
.num,.num2{font-size: 125px}
.two{
        margin-left:-9%;
    }
.pd1{width: 22%;
    padding-top: 10%;}
.pd{padding: 10% 0% 3% 0%;
    width: 28%;}       
.side1{width: 66%;}
.pd1{padding-right: 4%;}
.btnn{
    margin: 4px 0px 0px 3px;
}
.btn1 {
    width: 33%;
    line-height: 10px;
    margin-right: 5%;
}
.arrow{margin-top: 1%;}
.btn2{
    line-height: 17px;
    padding: 2% 10%;
    width: 18%;
}
.bb2 {
    margin: 2% 0% 0% 4%;
}
}
@media only screen and (max-width: 450px){
.box{height: 37px;}
h1{line-height: 41px;
   font-size: 35px;}
.imgg{height: 74px;}
.txt{font-size: 18px;
    text-align: center;
     line-height: 20px}
     .two {
    margin-left: -10%;
}

.btnn {
    font-size: 13px;
    line-height: 6px;
}
.arrow{
    width: 19%;
    height: 45%;
    padding-top: 2px;
}
.btn2{font-size: 13px;
      line-height: 14px;}
h2{
    font-size: 27px;
    padding-top: 46px;
}
.num,.num2{font-size: 100px;}
.eone {
    height: 1600px;
}
}
@media only screen and (max-width: 375px)  {
.first{height: 5%;}
.box{height: 30px;}
h1{line-height: 32px;
   font-size:32px;
   width:30%;}
.imgg{height: 60px;
      width: 63%;}
.txt {
    height: 6%;
    font-size: 16px;
    line-height: 16px;
    width: 88%;
}
h2 {height: 27%;
    font-size: 20px;
    padding-top: 21px;
}
.num, .num2 {
    margin-top: 3%;
    font-size: 72px;
}
.pd {
    padding: 16% 0% 3% 0%;
    width: 33%;
    height: 46%;
}
.eone{
    height: 1300px;}
.btn1{
    font-weight: 700;
    width: 40%;
    height: 6%;
}
.btn2 {
    width: 36%;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    height:6%;
    padding: 2% 4%;
}
.arrow {
    margin-left: 21%;
    width: 15%;
    height: 90%;
    padding-top: 1px;
}
.btnn{    font-size: 10px;
    line-height: 1px;}
.bb2,.bb1 {
    margin: 2% 0% 0% 51%;
}
.two{padding-top: 35px;}
}



